.NavBar {
  color: #f2f8f9 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 8px;
}

.navbar .nav-link {
  border-right: none !important;
  border-left: none !important;
}

.navbar-brand {
  border-right: none !important;
}

#logo {
  color: #f2f8f9;
}

.Navlink {
  padding: 10px;
  color: white;
}

/* a.active {
  color: #ecf0f1;
  background-color: #2C3E50;
} */