.Search button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.Search input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}